@font-face {
    font-family: 'kleymisskyregular';
    src: url('/assets/fonts/kleymissky-webfont.eot');
    src: url('/assets/fonts/kleymissky-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/kleymissky-webfont.woff2') format('woff2'),
         url('/assets/fonts/kleymissky-webfont.woff') format('woff'),
         url('/assets/fonts/kleymissky-webfont.ttf') format('truetype'),
         url('/assets/fonts/kleymissky-webfont.svg#kleymisskyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
