
form
  margin 1em .5em

input
  border-radius .25em
  border-width 2px
  border-style solid
  border-color $dovegray
  padding .5em 1em
  &[type='button']
  &[type='submit']
    padding .75em 1.5em

table
  margin .5em 0
  border-style solid
  // border collapse
  border-color $dovegray
  border-radius 2em

table
th
td
  border 2px solid $dovegray
  padding .25em 1em
